html{
	text-size-adjust: 100%;
}

.photo{
	text-align: center;
}

.image_vw {
	padding-top: 1vw;
	width:30vmin/*40vw*/;
	margin: 5px;
	height: auto;
	margin-top: 5vmin;
	text-align: center;
}

h1{
	font-size: 6vmin;
	text-align: center;
	color: rgba(103, 103, 103, 0.841);
}

h2{
	font-size: 5vmin;
	text-align: center;
	color: rgba(100, 255, 39, 0.841);
}

p{
	font-size: 3vmin;
	text-align: center;
	color: rgb(85, 85, 85);
}

.a_{
	width:50vmin;
	height:10vmin;
	margin :auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
	background-image:linear-gradient(to left,rgb(146, 222, 255),lightcyan);
	font-size: 3vmin;
}
a{
	position: relative;
	text-decoration: none;
}

