.title {

	color: black;

	background-color: white;

	float: inline-start;

	margin: 8px 0 8px 8px;

	font-weight: normal;

	font-family: 'Lobster', cursive;

	font-size: 32px;

	/* text-shadow: 4px 4px 5px rgba(0,0,0,0.5); */

	padding: 0.4em 0.5em;

	/*文字の上下 左右の余白*/

	background: #d5edf5;

	/*背景色*/

	border-left: solid 5px #7db4e6;

	/*左線*/

	border-bottom: solid 3px #d7d7d7;

	/*下線*/

}


body {
	font-family: FontAwesome;
	margin: 0;
	width: 100%;
	margin: 0 auto;
	background-color: #efeeee
}

#C {

	width: 95vw;

	min-height: 500px;

	height: auto;

	background-color: #d5edf5;

	/* margin-top:10px; */

	border: solid 2px #7db4e6;

	margin: 10px auto;
}

.tape-box {
	margin: 1em auto;
	padding: 1em 0 0 0;
	background-color: #ffffcc;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
	width: 70%;
}

.tape {
	display: block;

	background-color: #ccb;
	opacity: 0.2;
	transform: rotate(3deg);
	width: 40%;
	height: 35px;
	margin: -2em auto 0 auto;
	border-left: 3px dotted rgba(0, 0, 0, .1);
	border-right: 3px dotted rgba(0, 0, 0, .1);
}

.tape-box p {
	margin: 0;
	padding: 0;
	text-align: center;
}

img{
	display: block;
	margin:auto;
}
table {
	margin: auto;
	display: table;
	border-collapse: separate;
	border-spacing: 2vmin;
	border: 1px;
}
li p{
	color:red;
}