footer{
	background-color: rgb(38, 38, 38);
	width:100vw;
	height:40vh;
	bottom:0;

}

.footer_link li{
	display:inline-block;
	margin-top:1vmin;
	padding-right:25vmin;
}

.footer_link li a{
	padding-top:1vmin;
	color:rgb(211, 211, 211);
	font-size: 3vmin;
}

footer p{
	word-wrap: break-word;
}

.footer_link li p{
	padding-top:1vmin;
	color:rgb(211, 211, 211);
	font-size: 3vmin;
}

.footer_link li a{
	display: inline-block;
	text-decoration: none;
	position:relative;
	overflow:hidden;
}

.footer_link li a:after{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	background-color: #fff;
	transform:translate(-100%,0);
	transition: transform cubic-bezier(0.215,0.61,0.355,1) 0.4s;
	content: "";
}
.footer_link li a:hover:after{
	transform: translate(0,0);
}

.sns{
	position: relative;
	margin-left: 75vw;
	color:rgb(211, 211, 211);
	font-size: 3vmin;
}
.footer_sns{
	position: absolute;
}

.tw{
	position: absolute;
	margin-left:95%;
	width:12.5vmin;
	height:12.5vmin;
}
.you{
	position: absolute;
	margin-left:110%;
	width:12.5vmin;
	height:12.5vmin;
}
.op,.op_2{
	position :absolute;
	color:rgb(211, 211, 211);
	margin-left:30%;
	margin-top:9%;
	font-size:3vmin;
	word-break: break-all;

}

@media screen and (max-width:1050px) {
	.sns{
		position: relative;
		margin-left: 55vw;
		color:rgb(211, 211, 211);
		font-size: 3vmin;
	}
	.tw{
		position: absolute;
		margin-left:90%;
		width:12.5vmin;
		height:12.5vmin;
	}
	.you{
		position: absolute;
		margin-left:115%;
		width:12.5vmin;
		height:12.5vmin;
	}
	.op{
		display: block;
		position :absolute;
		color:rgb(211, 211, 211);
		margin-left:40%;
		font-size:3vmin;
		word-break: keep-all;
		overflow-wrap: break-word;
	}
}


.footer_{
	position:absolute;
	width:30vmin;
	height:10vmin;
	margin :5vmin 5vmin;
}



