@font-face {
	font-family: 'my';
	src: url("./font/かんじゅくゴシック.otf");
}

.body {
	font-family: FontAwesome;
	margin: 0;
	width: 100%;
	margin: 0 auto;
	background-color: #efeeee
}

#A {

	width: 95vw;

	min-height: 500px;

	height: auto;

	background-color: #d5edf5;

	/* margin-top:10px; */

	border: solid 2px #7db4e6;

	margin: 10px auto;

}

.game_name_1_2 {
	text-align: center;

}

hr {
	border-top: 3px dashed;
}

.game_name_1_4 {
	margin: 3vw;
	display: flex;
}

.image_vw {
	width: 40vw;
	margin: 5px;
	height: 34vw;
	margin-top: 5vw;
}


.discription {
	position: relative;
	margin: auto;
	margin-top: -5vw;
}

.discription h4 {
	font-size: 5vw;
	text-align: center;
	height: 5vw;
	position: relative;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title_game {
	color: black;
	text-align: center;
	background-color: white;
	float: inline-start;
	margin: -1.5vw 0 0.8vw 0.8vw;
	font-size: 4vw;
	font-family: 'my';
	/* text-shadow: 4px 4px 5px rgba(0,0,0,0.5); */
	padding: 0.4em 0.5em;
	/*文字の上下 左右の余白*/
	background: #effac3;
	/*背景色*/
	border-left: solid 0.5vw #fd6a02;
	border-right: solid 0.5vw #fd6a02;
	/*左線*/
	border-bottom: solid 0.3vw #d7d7d7;
	/*下線*/
	height: 5vw;
	position: relative;
	z-index: 1;
}

.title_time {
	color: black;
	text-align: center;
	background-color: white;
	float: inline-start;
	margin: 5vw 0 0.8vw 0.8vw;
	font-size: 3vw;
	font-family: 'my';
	/* text-shadow: 4px 4px 5px rgba(0,0,0,0.5); */
	padding: 0.4em 0.5em;
	/*文字の上下 左右の余白*/
	background: #effac3;
	/*背景色*/
	border-left: solid 0.5vw #28ff2fa4;
	border-right: solid 0.5vw #28ff2fa4;
	/*左線*/
	border-bottom: solid 0.3vw #d7d7d7;
	/*下線*/

	height: 2.5vw;
	position: relative;
	z-index: 1;
}

.dis_game .content {
	position: relative;
	width: 45vw;
	text-align: center;
	background-color: #f3f7ec;
	border: solid 1px #7c5f5a8d;
	margin-left: 1vw;
	margin-top: -1vw;
	z-index: 0;
	font-size: 3vw;
}

.time_game .content {
	position: relative;
	width: 45vw;
	text-align: center;
	background-color: #e7fbe4;
	border: solid 1px #7c5f5a8d;
	margin-left: 1vw;
	margin-top: -1vw;
	z-index: 0;
	font-size: 3vw;
}

.game_link {
	position: relative;
	margin: auto;
	font-size: 3vw;
}