@font-face {
	font-family: 'my';
	src: url("./font/かんじゅくゴシック.otf");
}

.body {
	font-family: FontAwesome;
	margin: 0;
	width: 100%;
	margin: 0 auto;
	background-color: #efeeee
}

#A {

	max-width: 95%;

	min-height: 500px;

	height: auto;

	background-color: #d5edf5;

	/* margin-top:10px; */

	border: solid 2px #7db4e6;

	margin: 10px auto;

}

hr {
	border-top: 3px dashed;
}

.game_ {
	margin: 3vmin;
	display: flex;
}

.image_vw {
	display:block;
	padding-top: 4vw;
	width:40%;
	margin: auto;
	height: 40%;
}


.discription {
	position: relative;
	margin: auto;
	margin-top: -5vmin;
	width:50%;
}

.discription h4 {
	font-size: 5vmin;
	text-align: center;
	height: 5vmin;
	position: relative;
	margin-top :5vh;
	padding-bottom:5vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title_game {
	color: black;
	text-align: center;
	background-color: white;
	/* float: inline-start; */
	margin: auto;
	font-size: 2vw;
	font-family: 'my';
	/* text-shadow: 4px 4px 5px rgba(0,0,0,0.5); */
	padding: 0.4em 0.5em;
	/*文字の上下 左右の余白*/
	background: #effac3;
	/*背景色*/
	border-left: solid 0.5vmin #fd6a02;
	border-right: solid 0.5vmin #fd6a02;
	/*左線*/
	border-bottom: solid 0.3vmin #d7d7d7;
	/*下線*/
	height: 5vmin;
	position: relative;
	z-index: 1;
}

.title_time {
	color: black;
	text-align: center;
	
	background-color: white;
	line-height: 70%;
	/* float: inline-start; */
	margin: auto;
	font-size: 2vw;
	font-family: 'my';
	/* text-shadow: 4px 4px 5px rgba(0,0,0,0.5); */
	padding: 0.4em 0.5em;
	/*文字の上下 左右の余白*/
	background: #effac3;
	/*背景色*/
	border-left: solid 0.5vmin #28ff2fa4;
	border-right: solid 0.5vmin #28ff2fa4;
	/*左線*/
	border-bottom: solid 0.3vmin #d7d7d7;
	/*下線*/

	height: 2.5vmin;
	position: relative;
	z-index: 1;
}

.dis_game > .content {
	position: relative;
	width: 96%;
	min-height:20vh;
	text-align: center;
	line-height: 250%;
	background-color: #f3f7ec;
	border: solid 1px #7c5f5a8d;
	margin-left: 1vw;
	margin-top: -1vmin;
	z-index: 0;
	font-size: 2vw;
}

.time_game .content {
	position: relative;
	width: 96%;
	text-align: center;
	line-height: 250%;
	background-color: #e7fbe4;
	border: solid 1px #7c5f5a8d;
	margin-left: 1vw;
	margin-top: -1vmin;
	z-index: 0;
	font-size: 2vw;
}

.game_link {
	position: relative;
	margin: auto;
	font-size: 3vmin;
}