/* h1 {
	color: black;
	background-color: white;
	float: inline-start;
	margin: 8px 0 8px 8px;
	font-weight: normal;
	font-size: 32px;
	font-family: 'Lobster', cursive;
	padding: 0.4em 0.5em;
	background: #d5edf5;
	border-left: solid 5px #7db4e6;
	border-bottom: solid 3px #d7d7d7;
} */


h2 {
	background-color: lightcyan;
}



body {
	font-family: FontAwesome;
	margin: 0;
	width: 100%;
	margin: 0 auto;
	background-color: #efeeee
}


#A {

	width: 95vw;

	min-height: 500px;

	height: auto;

	background-color: #d5edf5;

	/* margin-top:10px; */

	border: solid 2px #7db4e6;

	margin: 10px auto;

}

.dis {
	background-size: contain;
	width: 40vw;
	font-size:3vw;
	color: #7db4e6;
	/*文字色*/
	padding: 0.5em 2em 0.5em 0.4em;
	/*文字周りの余白*/
	/*display: inline-block;/*おまじない*/
	line-height: 3vw;
	/*行高*/
	background: #FFFF66;
	/*背景色*/
	vertical-align: middle;
	border-radius: 5vw 0px 0px 5vw;
	/*左側の角を丸く*/

	border: solid 0.1vw #7db4e6;
	margin: 3vw auto;
	text-align: center;
}


.dis:before {
	content: '●';
	color: white;
	margin-right: 8px;
}

.game {
	position: relative;
	padding: 0.5em 0.5em;
	background: #b6e9ff;
	color: #393939;
	margin: 5vw 0 0, 0;
}

.game:before {
	content: " ";
	position: absolute;
	top: -16px;
	left: 0;
	width: -webkit-calc(100% - 2vw);
	width: calc(100% - 2vw);
	height: 0;
	border: solid 8px transparent;
	border-bottom-color: #b2ddf0;
}

.music {
	position: relative;
	padding: 0.35em 0.5em;
	background: #5aff19;
	color: #393939;
	margin: 5vw 0 0 0;
}

.music:before {
	content: " ";
	position: absolute;
	top: -16px;
	left: 0;
	width: -webkit-calc(100% - 2vw);
	width: calc(100% - 2vw);
	height: 0;
	border: solid 8px transparent;
	border-bottom-color: #b2ddf0;
}

.else {
	position: relative;
	padding: 0.35em 0.5em;
	background: #fff450;
	color: #393939;
	margin: 5vw 0 0 0;
}

.else:before {
	content: " ";
	position: absolute;
	top: -16px;
	left: 0;
	width: -webkit-calc(100% - 2vw);
	width: calc(100% - 2vw);
	height: 0;
	border: solid 8px transparent;
	border-bottom-color: #b2ddf0;
}

.boxa {
	position: relative;
	background: #fff0cd;
	box-shadow: 0px 0px 0px 5px #fff0cd;
	border: dashed 2px white;
	padding: 0.2em 1em;
	margin:auto;
	color: #454545;
	width:70vw;
	margin-bottom:6vw;
}

.boxa:after {
	position: absolute;
	content: '';
	right: -1vw;
	top: -1vw;
	border-width: 0 15px 15px 0;
	border-style: solid;
	border-color: #ffdb88 #fff #ffdb88;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.boxa p {
	margin: 2vw auto;
	padding: 0;
	text-align: center;
	font-size:2vw;
}