@font-face {
	font-family: 'my';
	src: url("./font/かんじゅくゴシック.otf");
}

.body {

	font-family: FontAwesome;

	margin: 0;

	background-color: whitesmoke;

}

body {
	font-family: FontAwesome;
	margin: 0;
	width: 100%;
	margin: 0 auto;
	background-color: #efeeee
}

iframe{
	border:0;
}

#A {

	width: 95vw;

	min-height: 500px;

	height: auto;

	background-color: #d5edf5;

	/* margin-top:10px; */

	border: solid 2px #7db4e6;

	margin: 10px auto;

}

.title_movie{
	background-image:linear-gradient(white,rgb(246, 242, 182));
	border-left:solid 1.5vmin #ff9041;
	width:70vmin;
	padding-left:3vmin;
	font-size:3vmin;
}

.Work{
	display: flex;
	margin:auto;
}

.movie {
	text-align: right;
	margin:auto;
}

.image_vw {
	width: 105.19vmin;
	height: 65vmin;
	box-shadow:0 0vmin 0.5vmin 0.3vmin rgb(19, 19, 19); 
}

.discription {
	position: relative;
	width: 61.75vmin;
	height:87vmin;
	margin:5vmin;
	margin-left:12.5vmin;
	background-color:rgba(60, 79, 255, 0.748);
	/* display:flex; */
	border: solid 0.7vmin #d2d05a;

	box-shadow:
	0 0 0.5vmin 1.8vmin #FFF,
	0 0 0.2vmin 2.7vmin rgb(226, 225, 225),
	0 0 0 3.75vmin #FFF,
	0.3vmin 0.3vmin 0.1vmin 3.9vmin rgb(170, 164, 164),
	0 0vmin 0 4.2vmin rgb(212, 212, 212);
	
	z-index:0;
	
	/* border-radius: 9px; */
}

.discription p{
	margin :5vmin auto;
	text-align: center;
	color:rgb(255, 242, 0);
	font-size:5vmin;
	font-family:'Courier New', Courier, monospace;
	text-shadow: 0.1vmin 0.1vmin 0 rgb(0, 0, 0),
	-0.1vmin 0.1vmin 0 rgb(0, 0, 0),
	0.1vmin -0.1vmin 0 rgb(0, 0, 0),
	-0.1vmin -0.1vmin 0 rgb(0, 0, 0)
	;
	
}

.discription h4{
	margin :5vmin 3.5vmin;
	color:white;
	font-size:6vmin;
	font-family: "my";
	text-shadow: 0.1vmin 0.1vmin 0 rgb(0, 0, 0),
	-0.1vmin 0.1vmin 0 rgb(0, 0, 0),
	0.1vmin -0.1vmin 0 rgb(0, 0, 0),
	-0.1vmin -0.1vmin 0 rgb(0, 0, 0)
	;
}

.discription .dis{
	margin-top:15vmin;
}

.discription h5{
	margin :5vmin 3.5vmin;
	text-align: center;
	color:white;
	font-size:3vmin;
	font-family: "my";
	text-shadow: 0.1vmin 0.1vmin 0 rgb(0, 0, 0),
	-0.1vmin 0.1vmin 0 rgb(0, 0, 0),
	0.1vmin -0.1vmin 0 rgb(0, 0, 0),
	-0.1vmin -0.1vmin 0 rgb(0, 0, 0)
	;
}